body {
  background-color: #4c0707;
  color: white;
  padding: 40px;
  font-family: Sans-Serif;
  text-align: left;
};

table {
  width: 100%;
  align-self: center;
}

.Row :hover {background-color: rgb(4, 4, 4);} {
  display: table;
  table-layout: auto;
  text-align: center;
  width: 100%; /*Optional*/
  border-spacing: 1px; /*Optional*/
  float: center;
}

.Column {
  display: table-cell;
  width: 290px;
  text-align: left;
  border: 3px solid black;
  border-spacing: 10px; /*Optional*/
  float: center;
}

img {
  display: block;
  max-width: 100%;
  float: right;
}